﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Thera Trove </title>
    @Styles.Render("~/assets/plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/assets/plugins/flexslider/flexslider.css")
    @Styles.Render("~/assets/plugins/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/assets/plugins/themify/themify-icons.css")
    @Styles.Render("~/assets/css/style.css")
    @Styles.Render("~/assets/css/responsive.css")
    @Scripts.Render("~/assets/js/jquery.min.js")
    @Scripts.Render("~/assets/plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/assets/plugins/flexslider/jquery.flexslider-min.js")
    @Scripts.Render("~/assets/js/jquery.counterup.min.js")
    @Scripts.Render("~/assets/js/waypoints.min.js")
    @Scripts.Render("~/assets/js/counter.js")
    @Scripts.Render("~/assets/js/flexslider.js")
    @Scripts.Render("~/assets/js/common.js")       
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

</head>
<body>
 
     
    <div class="body-content">
        @RenderBody()
        @*<hr />*@
         
    </div>
</body>
</html>
