﻿@using MvcBreadCrumbs
<!DOCTYPE html>
<
<html class="wf-poppins-n3-active wf-poppins-n4-active wf-poppins-n5-active wf-poppins-n6-active wf-poppins-n7-active wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n5-active wf-roboto-n6-active wf-roboto-n7-active wf-active" lang="en">
<!-- begin::Head -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@ViewBag.Title - Thera Trove Admin </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->

    @Scripts.Render("~/assets/admin/js/webfont.js")
    @Styles.Render("~/assets/admin/css/css.css")
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });

    </script>
    <!--end::Web font -->
    <!--begin::Global Theme Styles -->

    @Styles.Render("~/assets/admin/css/vendors.css")
    @Styles.Render("~/assets/admin/css/style.css")
    @*@Styles.Render("~/assets/admin/css/custom.css")*@

    <!--end::Global Theme Styles -->
    <!--begin::Page Vendors Styles -->

    @Styles.Render("~/assets/admin/css/fullcalendar.css")
    <!--end::Page Vendors Styles -->

    <link rel="shortcut icon" href="~/assets/admin/images/favicon.ico">
    <style type="text/css">
        span.im-caret {
            -webkit-animation: 1s blink step-end infinite;
            animation: 1s blink step-end infinite;
        }

        span.im-static {
            color: grey;
        }

        div.im-colormask {
            display: inline-block;
            border-style: inset;
            border-width: 2px;
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

            div.im-colormask > input {
                position: absolute;
                display: inline-block;
                background-color: transparent;
                color: transparent;
                -webkit-appearance: caret;
                -moz-appearance: caret;
                appearance: caret;
                border-style: none;
                left: 0; /*calculated*/
            }

                div.im-colormask > input:focus {
                    outline: none;
                }

                div.im-colormask > input::-moz-selection {
                    background: none;
                }

                div.im-colormask > input::selection {
                    background: none;
                }

                div.im-colormask > input::-moz-selection {
                    background: none;
                }

            div.im-colormask > div {
                color: black;
                display: inline-block;
                width: 100px; /*calculated*/
            }
    </style>
    <style type="text/css">
        /* Chart.js */


        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default" style="" cz-shortcut-listen="true">

    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- BEGIN: Header -->
        <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">
                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand  m-brand--skin-dark ">
                        <div class="m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo"> <a href="#" class="m-brand__logo-wrapper"> <img alt="" src=@Url.Content("~/assets/admin/images/logo.png")> </a> </div>
                             
                        </div>
                    </div>
                    <!-- END: Brand -->
                    <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                        <!-- BEGIN: Horizontal Menu -->
                        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                        <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">

                        </div>
                        <!-- END: Horizontal Menu --> <!-- BEGIN: Topbar -->
                        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">
                            <div class="m-stack__item m-topbar__nav-wrapper">
                                <ul class="m-topbar__nav m-nav m-nav--inline">
                                     
                                     

                                    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                                        <a href="#" class="m-nav__link m-dropdown__toggle"> <span class="m-topbar__userpic"> <img src=@Url.Content("~/assets/admin/images/admin.png") class="m--img-rounded m--marginless" alt=""> </span> <span class="m-topbar__username m--hide">Nick</span> </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center" style="background: url(@Url.Content("~/assets/admin/images/logo.png")); background-size: cover;">
                                                    <div class="m-card-user m-card-user--skin-dark">
                                                        <div class="m-card-user__pic">
                                                            <img src=@Url.Content("~/assets/admin/images/logo.png") class="m--img-rounded m--marginless" alt="">
                                                          
                                                        </div>
                                                        <div class="m-card-user__details"> <span class="m-card-user__name m--font-weight-500">@Convert.ToString(Session["UserName"])</span> <a href="@Url.Action("User", "Admin", new { userId = Convert.ToInt32(Session["userId"])})"class="m-card-user__email m--font-weight-300 m-link">@Convert.ToString(Session["Email"])</a> </div>
                                                    </div>
                                                </div>
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav m-nav--skin-light">
                                                            <li class="m-nav__section m--hide"> <span class="m-nav__section-text">Section</span> </li>
                                                             
                                                            <li class="m-nav__item">
                                                                <a href="@Url.Action("Logout", "Admin")"
                                                                   class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <!-- END: Topbar -->
                    </div>
                </div>
            </div>
        </header>
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>

            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                <!-- BEGIN: Aside Menu -->

                <div id="m_ver_menu" class="m-aside-menu m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-scroller ps ps--active-y" m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative; height: 675px; overflow: hidden;">


                    
                        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow " id="tabMenu">
                            <li class="m-menu__item  m-menu__item--active" aria-haspopup="true">
                            <a href="@Url.Action("Index", "Admin")" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-line-graph"></i><span class="m-menu__link-title"> 
                                <span class="m-menu__link-wrap"> <span class="m-menu__link-text">Dashboard</span> 
                                 </span></span></a></li>
                            <li class="m-menu__section ">
                                <h4 class="m-menu__section-text">Navigation</h4>
                                <i class="m-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                                <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-layers"></i><span class="m-menu__link-text">Page</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                                <div class="m-menu__submenu ">
                                    <span class="m-menu__arrow"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Page</span></span></li>
                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                            <a href="@Url.Action("About", "Admin")"  class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    About
                                                </span>
                                            </a>
                                        </li>
                                      
                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                            <a href="@Url.Action("HowItWork", "Admin")" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    How It Work
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                            <a href="@Url.Action("PrivacyPolicy", "Admin")" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    Privacy Policy
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                            <a href="@Url.Action("TermsAndConditions", "Admin")" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    Terms & Conditions
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                            <a href="@Url.Action("TestimonialList", "Admin")" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    Testimonial List
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            
                            <li class="m-menu__item  m-menu__item--submenu " aria-haspopup="true" m-menu-submenu-toggle="hover">
                                <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-network"></i><span class="m-menu__link-text">Users</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                                <div class="m-menu__submenu ">
                                    <span class="m-menu__arrow"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item  m-menu__item--parent "  aria-haspopup="true">
                                        <span class="m-menu__link"><span class="m-menu__link-text">Users</span></span></li>


                                        <li class="m-menu__item m-menu__item--active " m-menu-link-redirect="1" aria-haspopup="true">


                                            <a href="@Url.Action("UserList", "Admin")" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    View Admin
                                                </span>
                                            </a>
                                        </li>

                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                            <a href="@Url.Action("ViewTherapists", "Admin")" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    View Therapists
                                                </span>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </li>
                            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                                <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-network"></i><span class="m-menu__link-text">Setting</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                                <div class="m-menu__submenu ">
                                    <span class="m-menu__arrow"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Setting</span></span></li>


                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">


                                            <a href="@Url.Action("SearchFilter", "Admin")" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    Search Filter
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">


                                            <a href="@Url.Action("OrderSearchFilter", "Admin")" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    Order Search Filter
                                                </span>
                                            </a>
                                        </li>

                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                            <a href=@Url.Action("SearchFilterValues", "Admin") class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    Search Filter Values
                                                </span>
                                            </a>
                                        </li>

                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                            <a href=@Url.Action("UploadBatch", "Admin") class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                                    Upload Batch
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                                <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-text">Report</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                                <div class="m-menu__submenu ">
                                    <span class="m-menu__arrow"></span>
                                    <ul>
                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                            <a href=@Url.Action("SearchLogReport", "Admin") class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">
                                            Search Log
                                            </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; height: 675px; right: 4px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 381px;"></div>
                        </div>
            
                </div>
                <!-- END: Aside Menu -->
            </div>
            <!-- END: Left Aside -->
            
            @RenderBody()

        </div>
        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item		m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last"> <span class="m-footer__copyright"> 2018 © Theratrove  </span> </div>
                     
                </div>
            </div>
        </footer>
        <!-- end::Footer -->

    </div>
    <!-- end:: Page -->
    <!-- begin::Quick Sidebar -->
     
    <!-- end::Quick Sidebar -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top"> <i class="la la-arrow-up"></i> </div>
    <!-- end::Scroll Top --> <!-- begin::Quick Nav -->
    <!-- begin::Quick Nav -->
    <!--begin::Global Theme Bundle -->
    @Scripts.Render("~/assets/admin/js/vendors.js")
    @Scripts.Render("~/assets/admin/js/scripts.js")
    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors -->

    @Scripts.Render("~/assets/admin/js/fullcalendar.js")
    <!--end::Page Vendors -->
    <!--begin::Page Scripts -->
    @Scripts.Render("~/assets/admin/js/dashboard.js")
    <!--end::Page Scripts -->

     
</body>
<!-- end::Body -->
</html>