﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="wf-poppins-n3-active wf-poppins-n4-active wf-poppins-n5-active wf-poppins-n6-active wf-poppins-n7-active wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n5-active wf-roboto-n6-active wf-roboto-n7-active wf-active" lang="en">
<!-- begin::Head -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>theratrove | Login</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    
    @Scripts.Render("~/assets/admin/js/webfont.js")
    @Styles.Render("~/assets/admin/css/css.css")
    <script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
    </script>
    <!--end::Web font -->
    <!--begin::Global Theme Styles -->
    
    @Styles.Render("~/assets/admin/css/vendors.css")
    @Styles.Render("~/assets/admin/css/style.css")
    
    <!--end::Global Theme Styles -->

    <link rel="shortcut icon" href="images/favicon.ico">
    <style type="text/css">
span.im-caret {
	-webkit-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}
 
}
span.im-static {
	color: grey;
}
div.im-colormask {
	display: inline-block;
	border-style: inset;
	border-width: 2px;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
div.im-colormask > input {
	position: absolute;
	display: inline-block;
	background-color: transparent;
	color: transparent;
	-webkit-appearance: caret;
	-moz-appearance: caret;
	appearance: caret;
	border-style: none;
	left: 0; /*calculated*/
}
div.im-colormask > input:focus {
	outline: none;
}
 div.im-colormask > input::-moz-selection {
 background: none;
}
div.im-colormask > input::selection {
	background: none;
}
 div.im-colormask > input::-moz-selection {
 background: none;
}
div.im-colormask > div {
	color: black;
	display: inline-block;
	width: 100px; /*calculated*/
}
    </style>
    <style type="text/css">
/* Chart.js */

 
    </style>
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default" cz-shortcut-listen="true">

    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
            <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
                <div class="m-stack m-stack--hor m-stack--desktop">
                    <div class="m-stack__item m-stack__item--fluid">
                        <div class="m-login__wrapper">
                            <div class="m-login__logo"> <a href="#"> 
                                
                                                            <img src=@Url.Content("~/assets/admin/images/logo02.png") alt=""   />
                                  </a> </div>
                            <div class="m-login__signin">
                                <div class="m-login__head">
                                    <h3 class="m-login__title">Sign In To Admin</h3>
                                </div>
                                
                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                {
                                    <div class="alert alert-danger text-center">
                                        <strong>@ViewBag.ErrorMessage</strong>
                                    </div>
                                }
                                <form class="m-login__form m-form" action="Login" method="post" id="login">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" placeholder="User Name" name="userName" autocomplete="off" type="text">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input m-login__form-input--last" placeholder="Password" name="password" type="password">
                                    </div>
                                    <div class="row m-login__form-sub">
                                        <div class="col m--align-left">
                                            <label class="m-checkbox m-checkbox--focus">
                                                <input name="remember" type="checkbox">
                                                Remember me <span></span>
                                            </label>
                                        </div>
                                        <div class="col m--align-right">
                                        
                                            <a href="@Url.Action("ForgetPassword", "Admin")"
                                               class="m-link">Forget Password?</a>
                                        </div>
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_signin_submit" type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Sign In</button>
                                    </div>
                                </form>
                            </div>
                            <div class="m-login__signup">
                                <div class="m-login__head">
                                    <h3 class="m-login__title">Sign Up</h3>
                                    <div class="m-login__desc">Enter your details to create your account:</div>
                                </div>
                                <form class="m-login__form m-form" action="">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" placeholder="Fullname" name="fullname" type="text">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" placeholder="Email" name="email" autocomplete="off" type="text">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" placeholder="Password" name="password" type="password">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input m-login__form-input--last" placeholder="Confirm Password" name="rpassword" type="password">
                                    </div>
                                    <div class="row form-group m-form__group m-login__form-sub">
                                        <div class="col m--align-left">
                                            <label class="m-checkbox m-checkbox--focus">
                                                <input name="agree" type="checkbox">
                                                I Agree the <a href="#" class="m-link m-link--focus">terms and conditions</a>. <span></span>
                                            </label>
                                            <span class="m-form__help"></span>
                                        </div>
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Sign Up</button>
                                        <button id="m_login_signup_cancel" class="btn btn-outline-focus  m-btn m-btn--pill m-btn--custom">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <div class="m-login__forget-password">
                                <div class="m-login__head">
                                    <h3 class="m-login__title"> 
                                        <a href="@Url.Action("ForgottenPassword", "Admin")"
                                           class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Forgotten Password ?111</a>
                                    </h3>
                                    <div class="m-login__desc">Enter your email to reset your password:</div>
                                </div>
                                <form class="m-login__form m-form" action="">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" placeholder="Email" name="email" id="m_email" autocomplete="off" type="text">
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Request</button>
                                        <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--<div class="m-stack__item m-stack__item--center">
                      <div class="m-login__account"> <span class="m-login__account-msg"> Don't have an account yet ? </span>&nbsp;&nbsp; <a href="javascript:;" id="m_login_signup" class="m-link m-link--focus m-login__account-link">Sign Up</a> </div>
                    </div>-->
                </div>
            </div>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content m-grid-item--center" style="background-image: url(@Url.Content("~/assets/admin/images/bg-4.jpg"))">
                <!--<div class="m-grid__item">
                  <h3 class="m-login__welcome">Join Our Community</h3>
                  <p class="m-login__msg"> Lorem ipsum dolor sit amet, coectetuer adipiscing<br>
                    elit sed diam nonummy et nibh euismod </p>
                </div>-->
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <!--begin::Global Theme Bundle -->
    @Scripts.Render("~/assets/admin/js/vendors.js")
    @Scripts.Render("~/assets/admin/js/scripts.js")
    
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
    @*@Scripts.Render("~/assets/admin/js/login.js")*@
    <!--end::Page Scripts -->

</body>
<!-- end::Body -->
</html>