﻿@model theratrove.Models.SearchFilterModel
@{
    ViewBag.Title = "Order Search Filter";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">@ViewBag.HeaderTitle</h3>
                @Html.Raw(MvcBreadCrumbs.BreadCrumb.Display())
            </div>

        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Order Search Filter
                        </h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">

                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>DisplayOrderNo</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SearchFilterList)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.DisplayOrderNo</td>

                                <td>
                                    @if (item.DisplayOrderNo != 1)
                                    {
                                        <a href=@Url.Action("OrderSearchFilterEdit", "Admin",new { Id= item.Id, moveFor= "Up" })>Up</a>
                                    }
                                    &nbsp;
                                    @if (item.DisplayOrderNo != Model.SearchFilterList.Count())
                                    {
                                        <a href=@Url.Action("OrderSearchFilterEdit", "Admin",new { Id= item.Id, moveFor= "Down" })>Down</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
