﻿@model theratrove.Models.SearchFilterValueModel
@{
    ViewBag.Title = "Search Filter Values";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">

                @Html.Raw(MvcBreadCrumbs.BreadCrumb.Display())
            </div>

        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        @using (Html.BeginForm("SearchFilterValues", "Admin"))
                        {
                            @Html.DropDownList("selectedFilters", Model.Filters, new { onchange = "this.form.submit();" })
                        }

                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href=@Url.Action("SearchFilterValueAddEdit", "Admin", new { Id = 0, selectedFilter = ViewBag.SelectedFilterId }) class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                            <i class="la la-plus"></i>
                            <span>New record</span>
                            </span>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item"></li>
                        
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">

                <!--begin: Datatable -->
                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Display Sequence No</th>
                            <th>Active</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SearchFilterValuesList)
                        {
                            <tr>
                                @*<td>@item.Id</td>*@
                                <td>
                                    @Html.Hidden("Id", item.Id)
                                    @item.Name
                                </td>
                                <td> @item.Value  </td>
                                <td>@item.DisplayOrder</td>
                                <td>@item.Active  </td>
                                <td> <a href=@Url.Action("SearchFilterValueAddEdit", "Admin",new {Id=item.Id, selectedFilter = ViewBag.SelectedFilterId })>Edit</a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
