﻿@model theratrove.Models.SearchFilterModel
@{
    ViewBag.Title = "Search Filter";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                
                 @Html.Raw(MvcBreadCrumbs.BreadCrumb.Display())
            </div>
            
        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">
         
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Search Filter
                        </h3>
                    </div>
                </div>
                @*<div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New record</span>
                                </span>
                            </a>
                        </li>


                    </ul>
                </div>*@
            </div>
            <div class="m-portlet__body">

                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Filter Type</th>
                            <th>Active</th>
                            <th>Create Date</th>
                            <th>DisplayOrderNo</th>
                            <th>FilterControlType</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SearchFilterList)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td> @item.FilterType  </td>
                                <td>@item.Active</td>
                                <td>@item.CreateDate  </td>
                                <td>@item.DisplayOrderNo</td>

                                @if (item.FilterControlType == 1)
                                {
                                    <td>CheckBox</td>

                                }
                                else if (@item.FilterControlType == 2)
                                {
                                    <td>DropDown</td>

                                }
                                <td> <a href=@Url.Action("SearchFilterAddEdit", "Admin")?Id=@item.Id>Edit</a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
