﻿
@{
    ViewBag.Title = "Upload Batch";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">

                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Admin")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="@Url.Action("ViewTherapists", "Admin")" class="m-nav__link m-nav__link--icon">
                            <span class="m-nav__link-text">Therapists User</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <span class="m-nav__link-text">Upload Batch</span>
                        </a>
                    </li>


                </ul>
            </div>

        </div>

    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Upload a file
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            @using (Html.BeginForm("UploadBatch", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
            {

                <div class="m-portlet__body">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger ml-lg-auto p-2">

                            @Html.Raw(ViewBag.ErrorMessage)
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-success ml-lg-auto p-2">

                            @Html.Raw(ViewBag.Message)
                        </div>
                    }
                    <div class="alert alert-defaul" style="background:#f2f3f8">

                        Please match the following formate. <a class="alert-link" href="~/Doc/sample/Import.zip">Download </a>
                    </div>

                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-sm-12">Upload a file</label>
                        <div class="col-sm-12">


                            <div class="custom-file">
                                <input class="custom-file-input" id="FileUpload" name="FileUpload" type="file">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit text-center p-5">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12 ml-lg-auto p-2">
                                <button type="submit" class="btn btn-brand">Submit</button>

                                @Html.ActionLink("Cancel", "", "Admin", null, new { @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>
