﻿@model theratrove.Models.SearchResults

<div class="col-md-7 col-sm-7 p-l">
    <div class="page-heading">
        @if (Model.NoOfRecords < 0)
        {
            <p>No Result Found</p>
        }
        else
        {
            <p> @Model.RecordsRange </p>
        }
    </div>
</div>
<div class="col-md-5 col-sm-5 filter p-r text-right">

    <div class="col-md-7 col-sm-5"><p>Short by:</p></div>
    <div class="col-md-5 col-sm-7 p-r">
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">By Default <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
                <li><a href="#">Executive</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Java Developer</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
@if (Model != null && Model.TherapistList.Count() > 0)
{
    <div class="page_listing candidate">
        @foreach (var item in Model.TherapistList)
        {
            <div class="sorting_content">
                @*//To do: need to get Image of therapist*@
                <div class="tab-image">
                    <img src="/assets/images/candidates/candidate-1.png" alt="" class="img-responsive">
                </div>

                <div class="overflow">
                    <div class="text-shorting">
                        <h1>
                            @Html.ActionLink(string.Format("{0} {1}", item.FirstName, item.LastName), "Therapist", "Search", new { Id = item.Id }, null)
                        </h1>
                        <ul class="unstyled">
                            <li>@item.Title</li>
                            <li><span><strong>Rate : </strong> <i class="fa fa-money"></i> @item.AvgCost</span></li>
                        </ul>
                        <p></p>
                    </div>
                    <div class="bottom_text">
                        <div class="contact_details col-md-4 col-sm-4 p-l">
                            <span><strong>Location:</strong> @item.Location</span>
                        </div>
                        <div class="contact_details col-md-8 col-sm-8 p-l">
                            <span>
                                <strong>Skills:</strong>
                                @if (item.TherapistTypesOfTherapies != null && item.TherapistTypesOfTherapies.Count > 0)
                                {
                                    string.Join(",", item.TherapistTypesOfTherapies.Select(f => f.TherapyType.Name));
                                }
                            </span>
                        </div>
                        <p></p>
                        <p class="col-md-12 p-l">
                            @item.AboutMe
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    @*<ul class="pagination pull-right">
        @if (Model.NoOfRecords > 0)
        {
            <li class="active"><a href="#"><i class="fa fa-angle-left"></i></a></li>
            for (var i = 1; i <= Model.NoOfRecords / 1; i++)
            {
                <li><a href="#" name="pageNumber" id="pageNumber">@i </a></li>
                                        @Html.HiddenFor(d => d.CurrentPage);
            }
            <li class="active"><a href="#"><i class="fa fa-angle-right"></i></a></li>
        }
    </ul>*@
}
else
{
    <p> No record found  </p>
}