﻿<div class="job_title">For</div>
<div class="borderfull-width"></div>
<div class="page-heading">
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="PHP" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="PHP">PHP</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="HTML" name="ossm" checked="">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="HTML">HTML</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="CSS" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="CSS">CSS</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="JavaScript" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="JavaScript">JavaScript</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="jQueary" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="jQueary">jQueary</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="MySQL" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="MySQL">MySQL</label>
        </div>
    </div>
    <div class="category">
        <div class="col-md-1 p-l p-r">
            <input type="checkbox" id="Wordpress" name="ossm">
        </div>
        <div class="col-md-11 p-l p-r">
            <label for="Wordpress">Wordpress</label>
        </div>
    </div>
</div>