﻿@*@model IEnumerable<theratrove.data.Therapist>*@

@model theratrove.Models.SearchResults

@{
    ViewBag.Title = "Therapist List";
}


<script type="text/javascript">
    var idList = [];
    var Faith = [];
    var For = [];
    var Issues = [];
    var Insurance = [];

    $(function () {
        // When a certain button is clicked, post your <form> data and URL to the Controller
        $("#btnSearch1").click(function () {
            $(this).parents('form').submit();
            //         $("input[name='checkboxes']:checked").each
            //(
            //  function () {
            //      //fill the array with the values
            //      alert(jQuery(this).val());

            //      var loopCounter = 0;
            //      idList.push([jQuery(this).data('type'), jQuery(this).val()]);
            //  }
            //);
            //         for (var i = 0; i < idList.length; i++) {
            //             //alert(idList[i][0]);
            //             if (idList[i][0] == 1) { //Faith
            //                 Faith.push(idList[i][1]);
            //             }
            //             else if (idList[i][0] == 2) { //For
            //                 //alert(idList[i][1]);
            //                 For.push(idList[i][1]);
            //             }
            //             else if (idList[i][0] == 3) { //Issues
            //                 //alert(idList[i][1]);
            //                 this.Issues.push(idList[i][1]);
            //             }
            //             else if (idList[i][0] == 4) {//Insurance
            //                 //alert(idList[i][1]);
            //                 this.Insurance.push(idList[i][1]);
            //             }
            //         }

            //         $.ajax({
            //             url: 'GetResults',
            //             type: 'POST',
            //             data: { checkboxTest: Faith }
            //         }).done(function (response) { //
            //             $("#server-results").html(response);
            //         });

            //         return false;
            //     });
        });


</script>
<div class="page_banner banner employer-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Browse Matches</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="resume">
        <div class="container">
            @using (Html.BeginForm("GetResult", "Search", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-3">
                        @*@using (Ajax.BeginForm("FilterTherapist", "Search", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divTheraistResult" }))
                            {*@

                        @*<form id="EmailRequestForm" method="post" action="Therapistlist">*@
                        <div class="job-search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Job title / keywords">
                                <div class="search_icon"><span class="ti-briefcase"></span></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Zip Code">
                                <div class="search_icon"><span class="ti-location-pin"></span></div>
                            </div>
                            <a href="#" class="btn btn-default">Search Job Results</a>
                        </div>
                        @foreach (var x in Model.FilterOptions)
                        {
                            <div class="job_title">@x.FilterName</div>
                            <div class="borderfull-width"></div>
                            <div class="page-heading">
                                <div class="category">
                                    @switch ((theratrove.Models.ControlTypeEnum)x.FilterControlType)
                                    {
                                        case theratrove.Models.ControlTypeEnum.CheckBox:
                                            foreach (var item in x.FilterValues)
                                            {
                                                <div class="col-md-1 p-l p-r">
                                                    <input type="checkbox" id="@item.Value" name="@string.Format("ctrl_{0}",@x.FilteType)" value="@item.Value" data-type="@x.FilteType">
                                                </div>
                                                <div class="col-md-11 p-l p-r">
                                                    <label>@item.Key</label>
                                                </div>
                                            }
                                            break;
                                        case theratrove.Models.ControlTypeEnum.DropDown:
                                            <div class="col-md-1 p-l p-r">
                                                <select name="@string.Format("ctrl_{0}",@x.FilteType)" data-type="@x.FilteType">
                                                    @foreach (var item in x.FilterValues)
                                                    {
                                                        <option value="@item.Value">@item.Key</option>
                                                    }
                                                </select>
                                            </div>
                                            break;
                                    }
                                </div>
                            </div>
                        }
                        <div class="job_title">Gender Preference</div>
                        <div class="borderfull-width"></div>
                        @*<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" id="btnSearch1">No Preference <span class="caret"></span></button>*@
                        <input type="submit" value="OK" name="btnSearch1" />

                        @*</form>*@
                    </div>
                    <div class="col-md-9">
                        <div id="divTheraistResult">
                            @Html.Partial("_TherapistList", Model)
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</main>
