﻿@model theratrove.Models.IndexPageData

@{
    ViewBag.Title = "Home Page";
}



<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript">

    //$(document).ready(function () {
    //    $("#zipCode").autocomplete({
    //        source: function (request, response) {
    //            $.ajax({
    //                url: "/Home/GetZipCode",
    //                type: "POST",
    //                dataType: "json",
    //                data: { Prefix: request.term },
    //                success: function (data) {
    //                    response($.map(data, function (item) {
    //                        return { label: item, value: item };
    //                    }))
    //                }
    //            })
    //        }
    //    });
    //})

    $(function () {
        $("#submit").click(function () {
            document.forms[0].submit();
            return false;
        });
    });

    $(function () {
        $("#keyworksearch").click(function () {
            $("#filterDetail").show();
        });
    });
    
    $('#btnCloseFilter').click(function (e) {
        $("#filterDetail").hide();
    });
    function closeFilterDetail()
    {
        $("#filterDetail").hide();
    }
    
</script>
<div class="site-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1>
                        Find the right<br>
                        therapist for you
                    </h1>
                    <p>
                        
                        Check all that apply to you using our filter system to find a therapist that fits your specific needs!
                    </p>
                </div>
                
                <div class="job-search" id="jobsearch">
                    @using (Html.BeginForm("SearchByKeyWords", "Search", FormMethod.Post))
                    {
                        <div class="form-group col-md-6 padding-left b-r radius">
                            <input type="text" name="keyworksearch" id="keyworksearch" class="form-control" placeholder="Search / keywords" />
                            <div class="search_icon"><span class="ti-briefcase"></span></div>
                        </div>
                        <div class="form-group col-md-6 padding-left radius2">
                            <input type="text" name="zipCode" id="zipCode" class="form-control" placeholder="Zip Code" />
                            <div class="search_icon"><span class="ti-location-pin"></span></div>
                        </div>
                        <div class="btn-search">                            
                            @Html.ActionLink("Search Job Result", "SearchByKeyWords", "Search", new { @class = "btn btn-default", @id = "submit" })
                        </div>
                        <div id="filterDetail" style="display:none">
                            <div class="borderfull-width"></div>
                            <div style="background-color:white" class="container">
                                <div class="row megasearchbox">
                                    @foreach (var x in Model.SearchResult.FilterOptions)
                                    {
                                        if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Faith)
                                        {
                                            <div class="col-sm-2">
                                                <h4>Faith</h4>
                                                <div class="searchHight">
                                                    @switch ((theratrove.Models.ControlTypeEnum)x.FilterControlType)
                                                    {
                                                        case theratrove.Models.ControlTypeEnum.CheckBox:
                                                            foreach (var item in x.FilterValues)
                                                            {
                                                                <div class="">
                                                                    <input type="checkbox"
                                                                           name="SelectedFaith"
                                                                           value="@item.Value" />
                                                                    <label>@item.Text</label>
                                                                </div>

                                                            }
                                                            break;
                                                        case theratrove.Models.ControlTypeEnum.DropDown:
                                                            <div class="row">
                                                                @Html.DropDownList("SelectedFaith", x.FilterValues, "Select Faith")
                                                            </div>
                                                            break;
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.For)
                                        {
                                            <div class="col-sm-2">
                                                <h4>For</h4>
                                                <div class="searchHight">
                                                    @switch ((theratrove.Models.ControlTypeEnum)x.FilterControlType)
                                                    {
                                                        case theratrove.Models.ControlTypeEnum.CheckBox:
                                                            foreach (var item in x.FilterValues)
                                                            {
                                                                <div class="">
                                                                    <input type="checkbox"
                                                                           name="SelectedFor"
                                                                           value="@item.Value" />
                                                                    <label>@item.Text</label>
                                                                </div>

                                                            }
                                                            break;
                                                        case theratrove.Models.ControlTypeEnum.DropDown:
                                                            <div class="">
                                                                @Html.DropDownList("SelectedFor", x.FilterValues, "Select For")
                                                            </div>
                                                            break;
                                                    }
                                                    </div>
                                                </div>
                                        }
                                        else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Insurance)
                                        {
                                            <div class="col-sm-3">
                                                <h4>Insurance</h4>
                                                <div class="searchHight">
                                                    @switch ((theratrove.Models.ControlTypeEnum)x.FilterControlType)
                                                    {
                                                        case theratrove.Models.ControlTypeEnum.CheckBox:
                                                            foreach (var item in x.FilterValues)
                                                            {
                                                                <div class="">
                                                                    <input type="checkbox"
                                                                           name="SelectedInsurance"
                                                                           value="@item.Value" />
                                                                    <label>@item.Text</label>
                                                                </div>

                                                            }
                                                            break;
                                                        case theratrove.Models.ControlTypeEnum.DropDown:
                                                            <div class="row">
                                                                @Html.DropDownList("SelectedInsurance", x.FilterValues, "Select Insurance")
                                                            </div>
                                                            break;
                                                    }
                                                    </div>
                                                </div>
                                        }
                                        else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Issues)
                                        {
                                            <div class="col-sm-3">
                                                <h4>Issues</h4>
                                                <div class="searchHight">
                                                    @switch ((theratrove.Models.ControlTypeEnum)x.FilterControlType)
                                                    {
                                                        case theratrove.Models.ControlTypeEnum.CheckBox:
                                                            foreach (var item in x.FilterValues)
                                                            {
                                                                <div class="">
                                                                    <input type="checkbox"
                                                                           name="SelectedIssues"
                                                                           value="@item.Value" />
                                                                    <label>@item.Text</label>
                                                                </div>

                                                            }
                                                            break;
                                                        case theratrove.Models.ControlTypeEnum.DropDown:
                                                            <div class="">
                                                                @Html.DropDownList("SelectedIssues", x.FilterValues, "Select Issues")
                                                            </div>
                                                            break;
                                                    }
                                                    </div>
                                                </div>
                                        }
                                        else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.GenderPreference)
                                        {
                                            <div class="col-sm-2">
                                                <h4>Gender Preference</h4>
                                                <div class="searchHight">
                                                    @switch ((theratrove.Models.ControlTypeEnum)x.FilterControlType)
                                                    {
                                                        case theratrove.Models.ControlTypeEnum.CheckBox:
                                                            foreach (var item in x.FilterValues)
                                                            {
                                                                <div class="">
                                                                    <input type="checkbox"
                                                                           name="SelectedGenderPreference"
                                                                           value="@item.Value" />
                                                                    <label>@item.Text</label>
                                                                </div>

                                                            }
                                                            break;
                                                        case theratrove.Models.ControlTypeEnum.DropDown:
                                                            <div class="">
                                                                @Html.DropDownList("SelectedGender", x.FilterValues, "Select Gender")
                                                            </div>
                                                            break;
                                                    }
                                                </div>
                                                </div>
                                        }
                                        else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Language)
                                        {
                                            <div class="col-sm-2">
                                                <h4>Language</h4>
                                                <div class="searchHight">
                                                    @switch ((theratrove.Models.ControlTypeEnum)x.FilterControlType)
                                                    {
                                                        case theratrove.Models.ControlTypeEnum.CheckBox:
                                                            foreach (var item in x.FilterValues)
                                                            {
                                                                <div class="">
                                                                    <input type="checkbox"
                                                                           name="SelectedLanguage"
                                                                           value="@item.Value" />
                                                                    <label>@item.Text</label>
                                                                </div>

                                                            }
                                                            break;
                                                        case theratrove.Models.ControlTypeEnum.DropDown:
                                                            <div class="">
                                                                @Html.DropDownList("SelectedLanguage", x.FilterValues)
                                                            </div>
                                                            break;
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else if (x.FilteType == (int)theratrove.Models.FilterTypeEnum.Location)
                                        {
                                            <div class="col-sm-2">
                                                <h4>Location</h4>
                                                <div class="searchHight">
                                                    @switch ((theratrove.Models.ControlTypeEnum)x.FilterControlType)
                                                    {
                                                        case theratrove.Models.ControlTypeEnum.CheckBox:
                                                            foreach (var item in x.FilterValues)
                                                            {
                                                                <div class="">
                                                                    <input type="checkbox"
                                                                           name="SelectedLocation"
                                                                           value="@item.Value" />
                                                                    <label>@item.Text</label>
                                                                </div>
                                                            }
                                                            break;
                                                        case theratrove.Models.ControlTypeEnum.DropDown:
                                                            <div class="">
                                                                @Html.DropDownList("SelectedLocation", x.FilterValues, "Select Location")
                                                            </div>
                                                            break;
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="row text-center">
                                    <br />
                                    <a href="#" id="btnCloseFilter" class="btn btn-primary closebtn" onclick="closeFilterDetail()"><b>Close</b></a>
                                </div>                            
                                </div>                            
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <div class="container skill">
        <div class="row">
            <div class="col-md-9">
                <div class="page-heading">
                    <h2>Find a Therapist by Condition & Location</h2>
                    <p>Simply check/click on your specific needs and let TheraTrove find the therapist that fits you</p>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#therapist-condition">Therapist by Condition</a></li>
                    <li><a data-toggle="tab" href="#therapist-location">Therapist by Location</a></li>
                    <li class="pull-right"><a href="@Url.Action("Therapistlist","Search")" class="view">View all results</a></li>
                </ul>
                <div class="tab-content">
                    <div id="therapist-condition" class="tab-pane fade in active">
                        
                            <ul class="unstyled">
                                @if (Model.TherapistsByLocation.Count > 0)
                                {
                                    foreach (var item in Model.TherapistsByCondition)
                                    {
                                        if (item != null)
                                        {
                                            <li class="col-sm-4 padding-left">
                                                <i class="fa fa-angle-right"></i> @Html.ActionLink(item, "Condition", "Search", new { Name = item }, null)
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        
                    </div>
                    <div id="therapist-location" class="tab-pane fade">
                        
                            <ul class="unstyled">
                                @if (Model.TherapistsByLocation.Count > 0)
                                {
                                    foreach (var item in Model.TherapistsByLocation)
                                    {
                                        if (item != null)
                                        {
                                             <li class="col-sm-4 padding-left"> <i class="fa fa-angle-right"></i> @Html.ActionLink(item, "Location", "Search", new { Name = item }, null)</li>
                                        }
                                    }
                                }
                            </ul>
                        
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="Resume">
                    <h1>Are you a therapist that would like to be listed?</h1>

                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "btn btn-cv btn-block" })
                    @if (string.IsNullOrEmpty(Convert.ToString(Session["UserId"])))
                    {
                        <p><strong>Already registered? </strong> @Html.ActionLink("Login", "Login", "Home")</p>
                    }

                </div>
            </div>
        </div>
    </div>
    <section class="our_site">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <div class="page-title">
                        <h1>Are you a therapist?<br>Get listed here!</h1>
                        <p>Join now to use our unique features to increase your client caseload. Subscribers get additional features like scheduling, marketing tools, and resources to help you maintain your practice.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 padding-left">
                        <div class="counter-icon"><span class="ti-briefcase"></span></div>
                        <div class="overflow">
                            <div class="fact-box">
                                <p>Therapists</p>
                                <h3 class="counter_number">@Model.NoOfTherapists</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 padding-left">
                        <div class="counter-icon"><span class="ti-world"></span></div>
                        <div class="overflow">
                            <div class="fact-box">
                                <p>Daily Searches</p>
                                <h3 class="counter_number">@Model.DailySearches</h3>
                                @*<h3 class="counter_number">253</h3>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 padding-left">
                        <div class="counter-icon"><span class="ti-user"></span></div>
                        <div class="overflow">
                            <div class="fact-box">
                                <p>Members</p>
                                <h3 class="counter_number">@Model.Members</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="success_story">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-right">
                    <div class="page-heading2">
                        <h1>Thera <span>Trove</span></h1>
                        <strong>success stories</strong>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="testi-slider">
                        <ul class="slides list-inline">
                            @if (Model != null)
                            {
                                foreach (var item in Model.TestimonialList)
                                {
                                    <li>
                                        <div class="testi-box clearfix text-center">
                                            <img src="assets/images/home/t1.png" alt="" class="img-responsive">
                                            <div class="content">
                                                <p>@Html.DisplayFor(modelItem => item.Details)  </p>
                                                <div class="content-hr"></div>
                                                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                                                <span>@Html.DisplayFor(modelItem => item.Designation)</span>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
