﻿@model theratrove.Models.UserModel
@{
    ViewBag.Title = "Profile";
}


<div class="page_banner banner price-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">My Account</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="manage">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @{
                    Html.RenderPartial("leftMenu");
                    }

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>My Profile</h1>

                        </div>
                    </div>

                    <div class="table_border table_wrap edit_profile">

                        <div class="row">
                            <div class="col-sm-12">
                                <h2> <span>Contact Information</span> </h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">

                                @if (!string.IsNullOrEmpty(@Model.ProfilePic))
                                {
                                    <img class="img-responsive" src="@Model.ProfilePic" />
                                }

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name  </label>
                                    <label class="form-control1"> @Model.FirstName</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Professional Title</label>
                                    <label class="form-control1"> @Model.Title</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Last Name </label>
                                    <label class="form-control1"> @Model.LastName</label>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email  </label>
                                    <label class="form-control1"> @Model.Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Location   </label>
                                    <label class="form-control1"> @Model.Location </label>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Phone Number  </label>
                                    <label class="form-control1"> @Model.PhoneNumber</label>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Years In Service</label>

                                    <label class="form-control1"> @Model.YearsInService</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Address   </label>
                                    <label class="form-control1"> @Model.Address1 @Model.Address2</label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">City</label>

                                    <label class="form-control1"> @Model.City</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">State  </label>
                                    <label class="form-control1"> @Model.State</label>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Education</label>

                                    <label class="form-control1"> @Model.Education</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">AcceptInsurance   </label>
                                    <label class="form-control1"> @Model.AcceptInsurance </label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">License</label>

                                    <label class="form-control1"> @Model.License</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">AboutMe   </label>
                                    <label class="form-control1"> @Html.Raw(Model.AboutMe) </label>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">AvgCost</label>

                                    <label class="form-control1"> @(Model.AvgCost == null ? "-" : Model.AvgCost.Value.ToString())</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">ZipCode   </label>
                                    <label class="form-control1"> @Model.ZipCode </label>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">VideoUrl</label>

                                    <label class="form-control1"> @Model.VideoUrl</label>
                                </div>
                            </div>

                        </div>
                        @if (!string.IsNullOrEmpty(@Model.FaithFilter))
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Faith</label>

                                        <label class="form-control1"> @Model.FaithFilter</label>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(@Model.IssuesFilter))
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Issues</label>

                                        <label class="form-control1"> @Model.IssuesFilter</label>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(@Model.InsuranceZipCodeFilter))
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Insurance</label>

                                        <label class="form-control1"> @Model.InsuranceZipCodeFilter</label>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(@Model.GenderPreferenceFilter))
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Gender Preference</label>

                                        <label class="form-control1"> @Model.GenderPreferenceFilter</label>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(@Model.LanguageFilter))
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Language</label>

                                        <label class="form-control1"> @Model.LanguageFilter</label>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(@Model.LocationFilter))
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Location</label>

                                        <label class="form-control1"> @Model.LocationFilter</label>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-12 ">
                                <h2>Gallery</h2>
                                </div>
                                @foreach (var therapyGallery in Model.TherapyGalleryList)
                                {

                                    <div class="col-sm-4 col-md-3 ">
                                        <div class="profile-gallery">
                                            <img class="img-responsive" alt="@therapyGallery.Id" src="@therapyGallery.GalleryImageURL" />
                                        </div>
                                    </div>

                                }
                            </div>

                        <div class="row">

                            <div class="col-sm-12">

                                @Html.ActionLink("Edit", "MyProfile", "Home", null, new { @class = "btn btn-primary my-3" })
                            </div>
                        </div>
                        
                    </div>



                </div>
            </div>
        </div>
    </section>
</main>
 


