﻿@model theratrove.Models.SignUpVM

@{
    ViewBag.Title = "Sign up";
}

<div class="page_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Login / Sign Up</div>
            </div>
        </div>
    </div>
</div>
<main id="maincontent">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="page-tab">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger">
                            <strong>@ViewBag.ErrorMessage</strong>
                        </div>
                    }

                    <div id="form">
                        <div id="userform">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                
                                <li class="active border-right"><a href="#signup" role="tab" data-toggle="tab">Sign up</a></li>


                            </ul>

                            <div class="tab-content">
                                 
                                <div class="tab-pane fade active in" id="signup">
                                    @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
                                    {
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <label>Username</label>

                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                            <div class="search_icon"><span class="ti-user"></span></div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email </label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            <div class="search_icon"><span class="ti-email"></span></div>
                                        </div>
                                        <div class="form-group">
                                            <label>Password </label>
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control"  })
                                            <div class="search_icon"><span class="ti-pin"></span></div>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password </label>
                                            @Html.PasswordFor(model => model.ConfirmPassword, new {  @class = "form-control"  })
                                            
                                            <div class="search_icon"><span class="ti-pin"></span></div>
                                        </div>
                                        <div class="mrgn-30-top">
                                            <button type="submit" class="btn btn-larger btn-block">
                                                Sign up
                                            </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
